
.successNotif {
	background-color: green;
	color: green;
	background: lightgrey;
	border-radius: 5px;
	padding: 1% ;
	border: 5px  solid green;
	font-size: 20px;
}

.failureNotif {
	background-color: red;
	color: red;
	background: lightgrey;
	border-radius: 5px;
	padding: 1% ;
	border: 5px  solid red;
	font-size: 20px;
}